body
{
    /* font-family: 'Titillium Web', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

/* theme: #254666 */
/*  theme-c: #91142f */

/* #welcome
{
    background: url('../illus/welcome-f-01.svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    /* background-repeat: no-repeat; */
    /* animation: bg-w 60s linear infinite; */
/* }  */

@keyframes bg-w
{
    0% {
        background: url('../illus/welcome-01.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    10% {
        background: url('../illus//welcome-02.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    20% {
        background: url('../illus//welcome-03.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    30% {
        background: url('../illus//welcome-04.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    40% {
        background: url('../illus/welcome-05.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    50% {
        background: url('../illus//welcome-06.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    60% {
        background: url('../illus/welcome-05.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    70% {
        background: url('../illus/welcome-04.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    80% {
        background: url('../illus/welcome-03.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    90% {
        background: url('../illus/welcome-02.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    100% {
        background: url('../illus/welcome-01.svg');
        background-size:cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}

.text-theme
{
    color: #254666 !important;
}

.bg-theme
{
    background-color: #254666 !important;
    color: #fff;
}

.bg-theme-sec
{
    background-color: #91142f;
}

.border-theme-right
{
    border-right: 0.5em solid #91142f;
}

.logo
{
    max-height: 10vh;
}

.col-img
{
    height: auto;        
    max-width: 100%;
    width: auto;      
}

.card-img
{
    width: auto;
    height: 50vh;
}

.col-def-img
{
    border-radius: 50%;
    /* max-height: 100%; */
    transform: scale(0.5);
    overflow: hidden;
    max-height: 100%;
    width: auto;
}

.col-default
{
    max-height: 100%;
    overflow: hidden;
}

.fullsize
{
    /* max-height: 100vh; */
    height: 99vh;
    width: 98vw;
    max-width: 100vw;
}

@media screen and (max-width: 900px)
{
    
}
