@import 'variables';

.bg-dark {
    background-color: $dark;
}

.bg-dark-md {
    background-color: $dark-md;
}

.bg-danger {
    background-color: $danger;
}

.bg-info {
    background-color: $info;
}

.bg-light {
    background-color: $light;
}

.bg-primary {
    background-color: $primary;
}

.bg-accent {
    background-color: $accent;
}

.bg-blue {
    background-color: $blue;
}

.bg-blue-md {
    background-color: $blue-md;
}

.bg-black {
    background-color: $black;
}

.bg-black-light {
    background-color: $black-light;
}

.bg-pitch-black {
    background-color: $pitch-black;
}

.bg-purple {
    background-color: $purple;
}

.bg-red {
    background-color: $red;
}

.bg-right {
    right: -70%;
}

.bg-top {
    top: -90%;
}

.bg-left {
    left: -75%;
}

.bg-bottom {
    bottom: -75%;
}