@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    font-family: 'Nunito', sans-serif;
}

html, body {
    font-family: 'Nunito', sans-serif;
}




.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600;
}

.text-700 {
    font-weight: 700;
}

.text-800 {
    font-weight: 800;
}

.text-red {
    color: $red
}

.text-light {
    color: $light
}

.text-dark {
    color: dark;
}

.text-dark-md {
    color: $dark-md;
}

.text-black {
    color: $pitch-black
}

.text-danger {
    color: $danger;
}

.text-warning {
    color: $warning;
}

.text-primary {
    color: $primary;
}

.text-blue {
    color: $blue;
}

.text-accent {
    color: $accent;
}

.text-blue-md {
    color: $blue-md;
}

.text-purple {
    color: $purple;
}

.text-secondary {
    color: $secondary;
}

.text-info {
    color: $info;
}

.text-transparent {
    color: transparent;
}

.text-gradient {

    // background: -webkit-linear-gradient(#eee, #333);
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 1.75rem;
}

.text-md {
    font-size: 2rem;
}

.text-lg {
    font-size: 4rem;
}

.text-xl {
    font-size: 12rem;
}

.text-hero {
    font-size: 14rem;
    // line-height: 1rem;
    letter-spacing: 0.02em;
}


a {
    color: $grey;
    transition: color 0.15s ease;

    &.nav-link {
        // font-style: oblique;
        font-weight: 600;                
    }

    .nav-link:hover {
        color: #C850C0;
        transform: scale(1.1);
        transition: all 0.15s ease-in-out;
    
    }

}
