$primary: #e86a92;
$light: #f7f7f9;
$grey: #cfcfcf;
$dark: #2b2d42;
$dark-md: #0d1f2d;
$info: #41e2ba;
$warning: #f7e733;
$danger: #8c001a;
$red: #660000;
$secondary: #9ea3b0;
$blue: #3f84e5;
$purple: #6247aa;
$accent: #006494;
$blue-md: #233d4d;
$black: #121212;
$black-light: #202124;
$pitch-black: #000;
// $black-secondary: #04151f;
$black-secondary: #020c12;

:root {
    font-size: 16px;
}


.gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}


